<?xml version="1.0" encoding="UTF-8"?>
<suite name="FullstackFramework" parallel="methods">

	<test name="Selenium_Advanced_Code">
		<!-- <parameter name="browser" value="chrome" /> -->
		<classes>
			<!-- <class name="com.kohls.test.CompareToObject" /> -->
			<class name="practice.StringOperations" />

		</classes>

	</test>

</suite>
